.DS_Store
node_modules/
dist/
release-builds/
npm-debug.log
yarn-error.log

# Files from nowpass-vue-frontend
static/js/app.js
static/js/manifest.js
static/js/vendor.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
